.flex-container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    background-color: cyan;
  }
  
  .flex-items {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    background-color: crimson;
    background-clip: padding-box;
    
  }
  
  
.ped{
    padding: 20px 30px 40px 50px;
    margin: 15px;
    text-align: center;
    color: chartreuse;

    
    }