body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12%;
  width: 100%;
  background-color: #CBC1B1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11%;
  width: 100%;
  background-color: #CBC1B1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.burger-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-items {
  display: none;
}

.nav-item {
  display: none;
}

.vacation {
  display: none;
}

@media only screen and (min-width: 768px) {
  .burger-logo {
    display: none;
  }
  .main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 3%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 5%;
  }
  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }
  .header-half {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav-highlight {
    background-color: rgba(124, 116, 116, 0.3);
    padding: 10px;
  }
}

.info-page {
  height: 90%;
  background-color: #F8F7EC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info-page-width {
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5%;
  height: 100%;
}

.info-image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  gap: 5%;
}

.info-text-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.info-text-container div {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.info-text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-image {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-covid {
  background-image: url("./images/coronavirus.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  background-position: 50%;
}

.image-case {
  background-image: url("./images/luggage.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  background-position: 50%;
}

.image-fire {
  background-image: url("./images/sale.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  background-position: 50%;
}

.image-papers {
  background-image: url("./images/doc 1.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  background-position: 50%;
}

@media only screen and (min-width: 768px) {
  .info-page-width {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70%;
    width: 90%;
  }
  .info-image-text {
    width: 33%;
    height: 20%;
  }
  .image-covid {
    background-size: 100px 100px;
  }
  .image-fire {
    background-size: 100px 100px;
  }
  .image-case {
    background-size: 100px 100px;
  }
  .image-papers {
    background-size: 100px 100px;
  }
  .info-image {
    width: 110px;
    height: 100px;
  }
  .info-text-container div {
    font-size: 18px;
    line-height: 22px;
  }
}

.all {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #F8F7EC;
  position: absolute;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=info.css.map */