@import "./styles/_reset.scss";

.all{
    top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:#E5E5E5;
  position: absolute;
}

.header{
    display:flex;
    height: 12%;
    width: 100%;
    background-color: #CBC1B1;
}

.page{
    display: flex;
    width: 100%;
    height:200% ;
    background-color: #E5E5E5;
}
.footer{
    display:flex;
    height: 12%;
    width: 100%;
    background-color: #CBC1B1;
}






.body{
    display: flex;
}